---
title: Frågor
---
<div class="jumbotron mittmedia">
  <h1>En dag på mittmedia</h1>
  <p class="lead">Frågor och svar!</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><span class='blue'>1.</span> Vad kallas ditt yrke och vilka arbetsuppgifter har du?</h4>
    <p>
      webbutvecklare! Jag jobbar med att göra koden som bygger upp en webbsida.
    </p>

    <h4><span class='blue'>2.</span> Hur många jobbar på mittmedia?
    </h4>
    <p>
      1000 på hela på företaget och ungefär 220 i  Sundsvall.
    </p>

    <h4><span class='blue'>3.</span> Vilken utbildning behövs för yrket? </h4>
    <p>
      Jag har läst fyra år på ett designgynasium i Nederländerna.
      sedan har jag läst komunikation och multimediadesign i tre år på NHL Universitetet i Leeuwarden.
    </p>
  </div>

  <div class="col-lg-6">
    <h4><span class='blue'>4.</span> Är det någon personlig egenskap som du anser är en fördel i ditt yrke?</h4>
    <p>Att man är bra på problemlösning och att man hela tiden vill lära sig nya saker.</p>

    <h4><span class='blue'>5.</span> Vilka fördelar och nackdelar finns det med ditt jobb? </h4>
    <p>Det är kul med programering och design. Det kan vara svårt att  jobba tillsamans när vi sitter i olika städer, vi får ha många telefonmöten</p>

    <h4><span class='blue'>6.</span> Kommer den här arbetsplatsen se annorlunda ut i framtiden tror du?</h4>
    <p> Internet och tekniken förendras hela tiden och vi måste hänga med utveklingen. Vi börjar jobba mer mot appar nu.</p>
  </div>
</div>
